<% cache "performance_summary_#{current_user.id}_#{params[:currency_id]}", :expires_in => 900 do  %>
      <% [
                 [Date.today, Date.today, t("admin_home.show.view.table.today")],
                 [Date.today.beginning_of_week, Date.today.end_of_week, t("admin_home.show.view.table.week")],
                 [Date.today.beginning_of_month, Date.today.end_of_month, t("admin_home.show.view.table.month")],
                 [Date.today.beginning_of_quarter, Date.today.end_of_quarter, t("admin_home.show.view.table.quarter")],
                 [Date.today.beginning_of_year, Date.today.end_of_year, t("admin_home.show.view.table.year")]
         ].each do |dates|
      %>
          <% campaigns = Campaign.active.available_for_user(current_user) %>
          <% performance = Performance.new(dates[0], dates[1], [], campaigns, params[:currency_id]) %>
          <tr>
            <td></td>
            <td><b><%= dates[2] %></b></td>
            <td class="tar"><%= as_currency(performance.cost, performance.currency, 0) %></td>
            <td class="tar"><%= as_currency(performance.value, performance.currency, 0) %></td>
            <td class="tar"><%= as_currency(performance.total, performance.currency, 0) %></td>
            <td></td>
          </tr>
      <% end %>
<% end %>