th.mini {
  width: 10px;
}

th.small {
  width: 100px;
}

th.medium {
  width: 250px;
}


/* --- table ---

--------------------------------------------------------------------------------- */

.generic
{
    width: 100%;
    margin-top: 20px;
    border-collapse:collapse;
    font-size: 12px;
}

.generic thead th
{
	height: 39px;
    background: asset-url('table/table.png', image) repeat-x 0 -39px;
    line-height: 14px;
    vertical-align: middle;
    text-align: left;
    color:#555555;
    font-size: 12px;
    padding: 0 9px;
}

.generic thead th.hl
{
    background: asset-url('table/table.png', image) no-repeat 0 0;
    width: 10px;
    padding: 0 !important;
}

.generic thead th.hr
{
    background: asset-url('table/table.png', image) no-repeat right 0;
    width: 10px;
    padding: 0 !important;
}

.generic thead th a
{
    color: #555;
    text-decoration: none;
    border-bottom: 1px dotted #777;
}

.generic tfoot td
{
    height: 10px;
    background: asset-url('table/table.png', image) repeat-x 0 -88px;
    padding: 0;
}

.generic tfoot td.fl
{
    background: asset-url('table/table.png', image) no-repeat 0 -78px;
    width: 10px;
}

.generic tfoot td.fr
{
    background: asset-url('table/table.png', image) no-repeat right -78px;
    width: 10px;
}

.generic tbody tr td
{
    background-color: #f6f6f6;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 7px;
    vertical-align: middle;
}

.generic tbody tr td.cl
{
    background: asset-url('table/dot.png', image) repeat-y 0 0;
    width: 10px;
    padding: 0 !important;
}

.generic tbody tr td.cr
{
    background-image: url("/images/table/dot.png");
    background-repeat:  repeat-y;
    background-position: right 0;
    width: 10px;
    padding: 0 !important;
}

.generic tbody tr:nth-child(even) td,
.generic tbody tr.even td
{
    background-color: #fafafa;
}

.generic tbody tr:hover td
{
    background-color: #fffee3;
}


.generic.small_padding tbody tr td
{
    padding: 10px 3px;
}

.generic.small_padding tbody tr td.cl,
.generic.small_padding tbody tr td.cr
{
    padding: 0 !important;
}

.generic.small_padding thead th
{
    padding: 0 3px;
}


.leads_table tbody tr td
{
    padding: 8px;
    vertical-align: top;
}

/* --- toggle_row ---
------------------------------------------------------------------------------------------ */


.generic tbody tr.row_tooltip td
{
    background-color: #fff;
}

.generic tbody tr.row_tooltip,
.generic tbody tr.row_tooltip td .row_tooltip_content
{
    display: none;
}

.row_tooltip_actions
{
    position: absolute;
    display: block;
    margin-top: -23px;
    left: 580px;
}

#leads .row_tooltip_actions
{
    left: 0;
    bottom: -10px;
    margin-top: 0;
}

#deals .row_tooltip_actions
{
    left: 900px;
}


.row_tooltip_actions a.toggle_row
{
    display: block;
    float: left;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    margin-right: 5px;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    border-top-color: #ccc;
    white-space: nowrap;

    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;

    -webkit-box-shadow: 0 -1px 3px #ddd;

    text-decoration: none;
    color: #666;
}

.row_tooltip_actions a.toggle_row_unread
{
    background-color: #f74444;
    border-color: #c82121;
    color: #fff;
}

.comments_details
{
    padding: 15px 0;
}


/* --- actions ---
------------------------------------------------------------------------------------------ */


.td_actions
{
    position: relative;
}

.tda_hover
{
    z-index: 2000;
}

.tda_hover ul
{
    position: absolute;
    top: 23px;
    right: -3px;
}

.generic tbody tr td.tda
{
    padding: 4px;
    min-width: 60px;
}

.generic tbody td.tda > a {
  text-decoration: none;
  background: linear-gradient(rgb(147, 202, 30), rgb(109, 176, 14)) rgb(147, 202, 30);
  border-radius: 3px;
  display: inline-block;
  padding: 5px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.generic tbody td.tda > a:hover {
  background: linear-gradient(rgb(170, 223, 26), rgb(121, 188, 13));
}

.generic tbody td.tda > a.warning {
  background: linear-gradient(rgb(223, 28, 28), rgb(178, 13, 13)) rgb(204, 28, 28);
}

.generic tbody td.tda > a.warning:hover {
  background: linear-gradient(rgb(238, 18, 18), rgb(215, 15, 15)) rgb(219, 27, 27);
}

td.tda a.bt
{
    white-space: nowrap;
}

.td_actions ul
{
    border: 1px solid #fc9d23;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: none;

    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
}

.td_actions ul li:first-child
{
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    border-top: none;
}

.td_actions ul li:last-child
{
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.td_actions ul li
{
    background: #fff;
    text-align: center;
    border-top: 1px solid #fe9222;
}

.td_actions ul li a
{
    padding: 3px 20px;
    display: block;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
}

.td_actions ul li:hover
{
    background: #ff9429;

    background: -webkit-gradient(linear, left top, left bottom, from(#ffb43f), to(#ff8520));
    background: -moz-linear-gradient(top, #ffb43f, #ff8520);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr = #ffb43f, endColorstr = #ff8520);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffb43f, endColorstr=#ff8520)";
}

.td_actions ul li:hover a
{
    color: #fff;
    text-shadow: 1px 1px 0 #d98025;
}

.generic tbody tr td.td_child_node
{
    padding-left: 40px;
    background-image: url("/images/table/td_child.png");
    background-repeat: no-repeat;
    background-position: 12px 0;
}

/* --- pagination ---
---------------------------------------------------------------------------------------------------- */

.generic tbody tr.pagination td
{
    background: asset-url('table/table.png', image) repeat-x 0 -99px #e3e3e3;
    border-bottom: 1px solid #d4d4d4;
    min-height: 32px;
    padding: 0 10px 3px;
}

.generic tbody tr.pagination td .show_all_link
{
    font-size:10px;
    margin-top: 2px;
    padding: 5px;
}

.generic tbody tr td div.td_select_all
{
    float: left;
    line-height: 32px;
}


.generic tbody tr.main_actions td
{
    background: asset-url('table/table.png', image) repeat-x 0 -99px #e4e4e4;
    border-bottom: 1px solid #d4d4d4;
}



/* --- pagination ---
--------------------------------------------------------------------------------------------------------------------- */

div.pagination
{
    text-align: center;
    line-height: 32px;
}

div.pagination a,
div.pagination span,
div.pagination em
{
    display: inline-block;
    padding: 0 7px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #515151;
    text-shadow: 1px 1px 0 #fff;

    border: 1px solid transparent;
}

div.pagination a:hover
{
    text-decoration: none;
    background: #f4f2f2;
    border: 1px solid #d3d3d3;
}

div.pagination em
{
    background: #fff;
    font-style: normal;

    border-color: #d3d3d3;
    border-top-color: #aaa;

    color: #000;
}


div.pagination .disabled
{
    opacity: .4;
    filter: alpha(opacity=40);
}


.generic tbody tr.highlight_row td
{
    background-color: #fffcc0;
}

.generic tbody tr.completed td
{
    color: #999;
    background-color: #eee;
}


/* --- categories_table ---
------------------------------------------------------------------------------------------ */

.categories_table
{
    width: 100%;
}

.categories_table tbody td
{
    padding: 4px 10px 4px 0;
    vertical-align: top;
    width: 33%;
}

.categories_table tbody td ul li
{
    padding-left: 18px;
    line-height: 22px;
    font-size: 12px;
    background: asset-url('tree_child_line.png', image) no-repeat 8px -8px;
}

.categories_table tbody td > ul > li
{
    padding-left: 0;
    font-size: 13px;
    background: none;
}

.categories_table tbody td > ul > li > label
{
    font-weight: bold;
}




/* --- cart table ---
------------------------------------------------------------------------------------------ */

.cart_table
{
    width: 100%;
}

.cart_table thead tr th
{
    text-align: center;
    height: 30px;
    vertical-align: middle;
    padding: 4px;
    background: asset-url('table/table.png', image) repeat-x 0 -99px #e4e4e4;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
}

.cart_table tbody tr td
{
    border-bottom: 1px solid #e0e0e0;
    height: 50px;
    vertical-align: middle;
    padding: 4px 8px;
}

.cart_table tbody tr.odd td
{
    background: #fff;
}

.cart_table tbody tr.even td
{
    background: #f6f6f6;
}

.cart_table tbody tr.total_row td
{
    border-bottom: none;
    font-size: 18px;
    font-weight: bold;
}

.cart_table tbody tr.total_row td .green
{
    font-size: 18px;
}

.cart_table tbody tr td.sign
{
    font-size: 12px;
    color: #aaa;
}



.reports_table_wrapper
{
    width: 100%;
    overflow-x: auto;
}

#reports_table
{
    font-size: 11px;
}


/* --- timesheet table ---
------------------------------------------------------------------------------------------ */

.timesheet
{
    border: 1px solid #ccc;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.timesheet thead th,
.timesheet tbody td
{
    text-align: right;
}

.timesheet .subheader_row th
{
    font-size: 11px;
    padding-left: 4px;
    padding-right: 4px;
    border-left: 1px solid #ccc;
}

.timesheet .subheader_row th:first-child
{
    border-left: none;
}

.timesheet .total_row td
{
    border-bottom: none;
    border-left: 1px solid #e0e0e0;
    background: #fff;
    font-weight: bold;
    font-size: 16px;
}

.timesheet .total_row td:first-child
{
    border-left: none;
}

.timesheet .total_row.bordered
{
    border-bottom: 1px solid #E3E3E3;
}

.timesheet .total_h,
.timesheet .total_c,
.timesheet .total_r,
.timesheet .total_v
{
    background: #fff;
    font-weight: bold;
    font-size: 14px;

}

.timesheet .cell_week
{
    background: #eee;
    border-right: 1px solid #ddd;
    font-weight: bold;
    text-align: left;
}

.timesheet .val_h
{
    background: #e6e6e6;
}

.timesheet .val_r
{
    background: #ececec;
}

.timesheet .val_v
{
    background: #f3f3f3;
}

.timesheet .val_c
{
    background: #fafafa;
    border-right: 1px solid #ccc;
}

.campaigns_results td {
    width: 150px;
}

.campaigns_results td input {
    width: 70px;
}




/* --- edit selected ---
------------------------------------------------------------------------------------------ */


.edit_selected {
    position: relative;
}

.edit_selected .edit_selected_title {
    width: 1100px;
}

.edit_selected .btn_remove_selected {
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 6px;
}

.edit_selected label {
    float: left;
    line-height: 30px;
    margin-right: 10px;
    text-align: right;
    width: 200px;
}

.edit_selected select {
    margin-bottom: 10px;
    width: 500px;
}

.edit_selected .tags_wrapper {
    padding-top: 0;
}

.edit_selected .main_actions .tags_wrapper .tagit {
    margin-right: 0px;
    width: 492px;
}


/* --- leads table ---
------------------------------------------------------------------------------------------ */

.leads_table .leads_table_dates_outer
{
    height: 50px;
    margin-top: 2px;
    position: relative;
}

.leads_table .leads_table_dates_inner
{
    position: absolute;
    width: 260px;
}

.leads_table .leads_table_date
{
    display: inline-block;
    margin-right: 12px;
}

.leads_table span.cke_skin_kama
{
    margin: 4px 0;
}
