<column-mc:>
  <%= form_tag APP_CONFIG[:paypal_url] do %>
      <%= hidden_field_tag :cmd, "_s-xclick" %>
      <%= hidden_field_tag :encrypted, @subscription_plan.encrypt_subscription %>
      <ibt c="fltri">
        <%= submit_tag t("supplier.cart.show.view.checkout_link") %>
      </ibt>
  <% end %>

    <form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick-subscriptions">
    <input type="hidden" name="business" value="me@mybusiness.com">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="no_shipping" value="1">
    <input type="image" src="http://www.paypal.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
    <input type="hidden" name="a3" value="5.00">
    <input type="hidden" name="p3" value="1">
    <input type="hidden" name="t3" value="M">
    <input type="hidden" name="src" value="1">
    <input type="hidden" name="sra" value="1">
    </form>
</column-mc:>