<column-mc:>
  <header><%= t("administration.email_templates.index.view.title") %></header>

  <table id="users_table" class="generic">
    <thead>
    <tr>
      <th class="hl"></th>
      <th></th>
      <th></th>
      <th class="hr"></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td class="fl"></td>
      <td colspan="2"></td>
      <td class="fr"></td>
    </tr>
    </tfoot>
    <tbody>
      <% @email_templates.each do |email_template| %>
        <tr>
          <td class="cl"></td>
          <td><%= email_template.uniq_id %></td>
          <td class="tda ta_r">
            <div class="td_actions">
              <%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %>
              <ul>
                <li>
                  <%= link_to t("administration.email_templates.index.view.edit"), edit_administration_email_template_path(email_template) %>
                </li>
              </ul>
            </div>
          </td>
          <td class="cr"></td>
        </tr>
    <% end %>
    </tbody>
  </table>


</column-mc:>