
<%= render :partial => "shared/deals/filter", :locals => {:search => @search, :path => buyers_deals_path} %>

<column-mc:>
  <header>My deals</header>
   <%= deals_table @deals do |blocks| %>
      <% blocks.tools do |deal| %>
          <ul-actions>
            <li>
              <%= link_to t("campaigns.index.edit"), edit_buyers_deal_path(deal), :class => "default_action" %>
            </li>
          </ul-actions>
      <% end %>
  <% end %>
</column-mc:>