<div id="modal_remote_deal_requests_info" style="display: none;">
  <div id="modal_remote_deal_requests_info_container">

  </div>
</div>

<script type="text/javascript">
      $('#modal_remote_deal_requests_info').dialog({
          autoOpen: false,
          width: 700,
          height: 700,
          title: 'Write additional info for deal requests',
          modal: true,
          beforeClose: function(event, ui) { }
      });
</script>