<div id="available_subscriptions">
    <h2><%= t("subscriptions.available_subscriptions") %></h2>
    <p>
        <%= blurb(:blurb_subscription_select) %>
    </p>
    <% @subscriptions = SubscriptionPlan.active.exclude_free(false).for_role(role).ascend_by_billing_price %>
    <% if @subscriptions.any? %>
        <% @subscriptions.each do |subscription_plan| %>
            <%= render :partial => 'shared/subscriptions/subscription', :locals => {:subscription_plan => subscription_plan, :role => role, :subscriptions_form => subscriptions_form} %>
        <% end %>
    <% else %>
        <%= t("subscriptions.listing.no_available_subscriptions") %>
    <% end %>
</div>
