.pdd_10.no_pdd_t
  fieldset.inputs.labels_ta_r.labels_200
    ol.align_inputs
      = form.input :name
      = form.input :merge_with_tags, as: :boolean, onchange: "enable_merge()"

      #merge_with_others_container style=("display: none")
        = form.input :merge_with_cleanup, as: :boolean
        div
          = "#{t("tags.common.assigned_tags_label")}:"
          ul#tags_selection name="tag[merge_with_tag_names]"

javascript:
  $(function() {
    $('#tags_selection').tagit({tagSource: "/tags.js", triggerKeys: ['enter', 'comma', 'tab'], select: true});
  });

  function enable_merge(){
    if($("#tag_merge_with_tags").attr('checked'))
      $("#merge_with_others_container").show();
    else
      $("#merge_with_others_container").hide();
  }
