= content_for :column_mc do
  = header(back: true) do |section|
    - section.block_header do
      = t("administration.tags.edit.view.header", name: @tag.name)

  = semantic_form_for @tag, as: :tag, url: administration_tag_path do |form|
    = frm(title: @tag.name) do |section|
      - section.block_content do
        = render partial: 'form', locals: {form: form}
      - section.block_actions do
        = ibt(class: "fltri", icon: "save") do
          = form.submit t("administration.tags.edit.view.button_update")
        = ibt(class: "bt_grey fltri") do
          = button_to_function t("administration.tags.edit.view.button_cancel"), "history.go(-1)"

  = header do |section|
    - section.block_header do
      = t("administration.tags.edit.view.tagged_objects", name: @tag.name)

  .fltr style=("margin: -20px 0 10px 0")
    = ibt(class: "bt_green", icon: "download") do
      = link_to t("administration.tags.edit.view.export"), administration_tag_path(@tag, format: :xls)

  table.generic
    thead
      tr
        th.hl
        th= t("administration.tags.edit.view.name")
        th= t("administration.tags.edit.view.type")
        th.hr
    tbody
      - @taggings.each do |tagging|
        - if tagging.taggable.is_a?(Result)
          - tagging.taggable.call_results.each do |call_result|
            tr
              td
              td= call_result.contact.company_name
              td= "#{call_result.class.name} - #{call_result.result_name}"
              td
        - elsif tagging.taggable.is_a?(TagGroup)
          tr
            td
            td
              | Tag group:
              - tagging.taggable.tags.each do |tag|
                span= tag
            td
            td
        - else
          tr
            td
            td= tagging.taggable
            td= tagging.taggable.class.name
            td
    tfoot
      td.fl
      td colspan="2"
      td.fr

  .fltr style=("margin: 10px 0 0 0")
    = ibt(class: "bt_green", icon: "download") do
      = link_to t("administration.tags.edit.view.export"), administration_tag_path(@tag, format: :xls)

  .clb
