/log/*.*
/.bundle
/.idea
/db/schema.rb
/tmp/pids/server.pid
/config/database.yml
/routes.txt
/vendor/cache
/vendor/cache/**/*
/capybara/**/*
.idea
/public/system/assets
/public/system/voucher_cache
/public/assets/*
.rvmrc
.livereload
/tmp/*
/public/assets/*
/db/snapshots/cucumber.sql
/public/html2pdf/invoice_cache
/public/javascripts/translations.js