<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol>
      <%= form.input :scope, :collection => Article::News::SCOPE, :as => :select, :include_blank => false %>
      <%= form.input :title %>
      <%= form.input :content,
                        :as => :ckeditor,
                        :input_html => {
                            :width => '1085px',
                            :height => '500px',
                            :swf_params => {
                                :resource_type => @news.class.name,
                                :resource_id => @news.id
                                }
                            } %>
      <%= form.input :published %>
    </ol>
  </fieldset>
</div>
<hl/>
