= content_for :search_box do
  .search_box
    h2= t("common.search")
    .search_content
      = form_for @search, url: administration_news_index_path do |f|
        fieldset.inputs_vertical
          ol.no_pdd
            li.string
              = f.label :with_keyword, t("administration.leads.index.search.keyword_label")
              = f.text_field :with_keyword

            li.select
              = f.label :with_subclass, t("administration.leads.index.search.owner_type_label")
              = f.select :with_subclass, news_scope_for_select, include_blank: true

            li.commit
              = ibt(class: "bt_green", icon: "magnify") do
                = submit_tag t("administration.news.index.view.search_button")
              p
                = bt_clear_filter

= content_for :column_mc do
  = header do |section|
    - section.block_header do
      = t("administration.news.index.view.header")
    - section.block_actions do
      = form_tag administration_news_index_path, method: :post, id: "form_new_news" do
        span#news_subclass_select
          = select_tag "subclass", options_for_select(news_scope_for_select), {}
        ul.header_actions
          li.last
            = bt_link_to :plus, t("administration.news.index.view.new_news"), "javascript:void(0)", onclick: "$('#form_new_news').submit()"

  - if @news.blank?
    = blank_state_message
  - else
    table#news_table.generic
      thead
        tr
          th.hl
          th= link_to t("administration.news.index.view.id"), order_for_scoped_search(:id)
          th= link_to t("administration.news.index.view.title"), order_for_scoped_search(:title)
          th.ta_r= link_to t("administration.news.index.view.created_at"), order_for_scoped_search(:created_at)
          th.ta_r= link_to t("administration.news.index.view.published"), order_for_scoped_search(:published_date)
          th.ta_r= link_to t("administration.news.index.view.times_read"), order_for_scoped_search(:views_count)
          th.ta_r= t("administration.news.index.view.actions")
          th.hr
      tfoot
        tr
          td.fl
          td colspan="6"
          td.fr
      tbody
        - @news.each do |news|
          tr
            td.cl
            td= news.id
            td= news.title
            td.ta_r= news.created_at
            td.ta_r= news.published_date ? news.published_date : '-'
            td.ta_r= news.views_count
            td.tda.ta_r
              .td_actions
                = bt_link_to :cog, nil, "javascript:void(0)", class: "bt_dropdown"
                ul
                  li
                    = link_to t("administration.news.index.view.edit_link"), edit_administration_news_path(news), class: "default_action"
                  li
                    = link_to t("administration.news.index.view.show_link"), administration_news_path(news)
                  li
                    = link_to t("administration.news.index.view.delete_link"), administration_news_path(news), method: :delete, confirm: t("administration.news.index.view.delete_confirmation")
            td.cr

        - if will_paginate
          tr.pagination
            td.ta_c colspan="8"
              = will_paginate @news, previous_label: '&laquo;', next_label: '&raquo;'
