<%= content_for :column_mc do -%>

  <%= frm(:title => "#{@article.title}") do %>
    <% section.block_header do %>
      <%= bt_link_to nil, t("common.edit_link"), edit_administration_article_path, :class => "fltr" if current_user_has_role? :admin %>
    <% end %>
    <% section.block_content do %>
        <div class="pdd_10">
          <%= raw @article.content %>
        </div>
    <% end %>
  <% end %>

<% end %>