<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol>
      <%= form.input :amount %>
      <%= form.input :paid_at, :as => :date_picker, :wrapper_html => {:class => "date"} %>
      <%= form.input :invoice_id, :as => :hidden %>
    </ol>
  </fieldset>
</div>