<div class="lead_threads_container_div">
  <% if threads.empty? %>
      <% unless current_user.can_start_new_lead_thread? %>
        <p><%= t("comments.shared.no_comments") %></p>
      <% end %>
  <% else %>
      <% threads.each do |thread| %>
          <%= render :partial => 'comments/shared/thread', :locals => {:thread => thread} %>
          <div class="hl"></div>
      <% end %>
  <% end %>
</div>

<div class="lead_new_thread_container_div">
  <%= render :partial => "comments/threads/new", :locals => {:lead => lead} if current_user.can_start_new_lead_thread? %>
</div>