.c
{
    width: 980px;
}

#user_menu
{
    background-image: asset-url('fairdeals/bg_nav_subpage.png', image);
}

#content
{
    background-image: asset-url('fairdeals/bg_content_head.png', image);
}

#footer
{
    width: 100%;
    height: 30px;
    background-image: asset-url('fairdeals/bg_footer.png', image());
}  