.invoice_show
{
    padding-top: 20px;
}

.invoice_show table
{
    width: 100%;
}

.invoice_show table tbody tr td,
.invoice_show table thead tr th
{
    vertical-align: middle;
    padding: 2px 5px;
}

.invoice_header
{
    font-size: 22px;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

table.from_to_table
{
    margin-bottom: 20px;
}

table.from_to_table thead tr th
{
    font-size: 18px;
    font-weight:bold;
    text-align: left;
}

table.from_to_table tbody tr td
{
    padding-right: 15%;
}

.invoice_data table
{
    margin-bottom: 25px;
}

.invoice_data table thead tr th
{
    background: #eee;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}

.invoice_data table thead tr th,
.invoice_data table tbody tr td
{
    padding: 10px;
    text-align: right;
    vertical-align: middle;
}

.invoice_data table tbody tr td
{
    background: #f8f8f8;
    border-bottom: 1px solid #eee;
}

.invoice_data table tbody tr td.empty,
.invoice_data table tbody tr.space td
{
    background: none;
    border-bottom: none;
    padding: 0;
}

.invoice_data table tbody tr.space td
{
    height: 15px;
}


.invoice_data table tbody tr td.h_cell
{
    background: #eee;
    border-right: 2px solid #ccc;
    font-weight: bold;
}

.invoice_data table thead tr th.th_id { width: 10px;}
.invoice_data table thead tr th.th_name { width: 350px;}
.invoice_data table thead tr th.th_qty { width: 80px;}

.status_data
{
    padding-top: 25px;
}

.status_data table
{
    margin-top: 15px;
}



@media print
{
    @page { margin: 1cm;}

    body, table
    {
        font: 12px Arial, Helvetica, Verdana, Tahoma, sans-serif;
    }

    .pipeline table th { width: 12.5%; }

    .pipeline table { margin-top: 25px; }

    .pipeline table thead tr th.th_value { width: 120px;}
    .pipeline table thead tr th.hl { width: 0;}
    .pipeline table thead tr th.hr { width: 0;}
    .pipeline table thead tr th.th_percent
    {
      text-align: center;
      width: 60px;
    }

    div.date {
      text-align: right;
      float: right;
      margin-top: -20px !important;
    }

    *
    {
        font: 12px Arial, Helvetica, Verdana, Tahoma, sans-serif;
    }

    div.invoice_show {page-break-after:always;}

    .invoice_show table.invoice_basic_info tbody tr td
    {
        padding: 0;
        vertical-align: top;
    }

    .invoice_show table.invoice_basic_info tr th.ta_r,
    .invoice_show table.invoice_basic_info tr td.ta_r
    {
        text-align: right;
        padding-right: 5px;
    }


    table.from_to_table tbody tr td
    {
        padding-top: 0;
        padding-bottom: 0;
    }



    .invoice_data table
    {
        -pdf-keep-in-frame-mode: shrink;
    }

    .invoice_data table thead tr th,
    .invoice_data table tbody tr td
    {
        padding: 5px;
        line-height: normal;
    }

    .invoice_data table thead tr th.th_id { width: 30px;}
    .invoice_data table thead tr th.th_name { width: 200px;}
    .invoice_data table thead tr th.th_qty { width: 80px;}

    .invoice_data table thead tr th.ta_l,
    .invoice_data table tbody tr td.ta_l
    {
        text-align: left;
    }

    .additional_data p
    {
        line-height: 14px;
        margin: 0;
        padding: 0;
    }

    .status_data
    {
        display: none;
    }



}



/*****************************************************************************************************************/
/***************************************** STYLE DLA OGÓLNE ******************************************************/

/*

div.invoice_show label{font-family: "arial_bold", "arial"; font-weight: bold; display: inline-block; padding-right: 10px}

div.invoice_show .clear{clear:both;}

div.invoice_show .h{font-family: "arial_bold", "arial"; font-weight: bold; padding-right: 10px}

div.invoice_show  h2 {font-family: "arial_bold", "arial"; font-weight: bold; font-size: 18px}

div.invoice_show div.sides {margin: 20px 0px;}

div.invoice_show div.sides .bigger {font-size: 18px;}

div.invoice_show .type {font-size: 16px; font-family: "arial_bold", "arial"; font-weight: bold;}

div.invoice_show div.general_data table  {margin-bottom: 20px; empty-cells:show; }

/*div.invoice_show div.general_data table td{width: 200px}

div.hInvoice {text-align: center; font-size: 22px; font-family: "arial_bold", "arial"; font-weight: bold; margin: 20px 0px;}

div.invoice_show div.product_data{width: 100%;margin-bottom: 20px;}

div.invoice_show div.product_data table{width: 100%;  empty-cells:show; -pdf-keep-in-frame-mode: overflow;}

div.invoice_show .product_data table thead td {
        background: #eeeeee;
        border-bottom: 2px solid #cccccc;
		font-family: "arial_bold", "arial";
        font-weight: bold;
    }

div.invoice_show .product_data table tbody td {background: #f8f8f8;border-bottom: 1px solid #eeeeee;}

div.invoice_show .product_data table tbody tr.space td {padding: 0px; background: none; border: none }

div.invoice_show .product_data table tbody tr.totals td.empty {background: none;border: none;}

div.invoice_show .product_data table tbody tr.totals td.totals_h {background: #eeeeee;border-right: 2px solid #cccccc;}

div.invoice_show .product_data table td.r {text-align: right;}

div.invoice_show div.product_data table {margin-bottom: 30px}

*/

/*****************************************************************************************************************/
/***************************************** STYLE DLA STRONY INTERNETOWEJ *****************************************/

/*

@media screen {

    div.invoice_show {padding:30px 0;}

    div.copy {display: none ! important;}

    div.invoice_show div.sides tr td{width: 300px; padding-right: 50px;}

    div.invoice_show .type {display:none}

    div.invoice_show .product_data table td {padding: 10px}

    /*div.invoice_show .product_data table thead td {height: 40px;}*

    div.invoice_show .product_data table tbody tr.space td {height: 15px;}

            div.invoice_show div.product_data table td.field_id{width: 30px}
            div.invoice_show div.product_data table td.product_name{width: 365px}
            div.invoice_show div.product_data table td.qty{width: 50px}
            div.invoice_show div.product_data table td.netto_price{width: 80px}
            div.invoice_show div.product_data table td.netto_value{width: 80px}
            div.invoice_show div.product_data table td.vat{width: 40px}
            div.invoice_show div.product_data table td.vat_value{width: 80px}
            div.invoice_show div.product_data table td.brutto_value{width: 80px}

    div.invoice_show div.signs {display: none}

    div.invoice_show .status_data{width: 100%;  margin-bottom: 30px}

    div.invoice_show .status_data ul {margin-top: 10px}

    div.invoice_show .status_data ul li {float: left; margin: 0px 10px;}

    div.invoice_show .status_data ul li label {padding-left: 40px}

    div.invoice_show .additional_data{width: 100%; margin-bottom: 40px}

    div.invoice_show .additional_data .h {padding-right: 10px}


}

*/

/**************************************************************************************************************/
/******************************************** STYLE DLA DRUKOWANIA ********************************************/

/*

@media print {



    div.invoice_show .h{padding: 0px; padding-right: 5px; margin: 0px}

	div.invoice_show div.sides tr td{width: 320px; padding-right: 20px; vertical-align: top;}

    /*div.invoice_show div.general_data{margin-left: 410px;}

    div.invoice_show div.product_data table td {padding: 2px 8px; padding-top:6px; margin: 0px; }

    div.invoice_show .product_data table tbody tr.space td {height: 10px;}

            div.invoice_show div.product_data table td.field_id{width: 30px}
            div.invoice_show div.product_data table td.product_name{width: 385px}
            div.invoice_show div.product_data table td.qty{width: 40px}
            div.invoice_show div.product_data table td.netto_price{width: 80px}
            div.invoice_show div.product_data table td.netto_value{width: 80px}
            div.invoice_show div.product_data table td.vat{width: 40px}
            div.invoice_show div.product_data table td.vat_value{width: 60px}
            div.invoice_show div.product_data table td.brutto_value{width: 70px}

	div.invoice_show div.signs table {margin-top: 20px; empty-cells:show;}

	div.invoice_show div.signs table td {text-align: center;border: 0px solid #000000;width: 300px;}

	div.invoice_show div.signs table td.space {border: none;width: 40px;background-color: #ffffff;}

	div.invoice_show div.signs table thead td {background-color: #eeeeee;height: 20px;padding-top: 5px;border-bottom: none;}

	div.invoice_show div.signs table tbody td {border-top: none;padding-top:30px;vertical-align: bottom;}

    div.invoice_show div.status_data{display:none}

    .ta_r { text-align: right !important;}

}
*/
