<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_100 labels_ta_r">
    <ol>
      <%= form.input :title %>
      <%= form.input :content,
                        :label => false,
                        :as => :ckeditor,
                        :input_html => {
                            :width => '1085px',
                            :height => '250px',
                            :swf_params => {
                                :assetable_type => @news.class.name,
                                :assetable_id => @news.id
                                }
                            } %>
      <%= form.input :published %>
    </ol>
  </fieldset>
</div>
