<%= content_for :column_mc do -%>
  <header back="true"><%= t('news.show.view.header') %></header>

  <frm title="#{@news.title}">
    <div class="pdd_10">
      <%= raw @news.content %>
    </div>
  </frm>
<% end %>