= content_for :column_mc do
  = header(back: true, backurl: administration_deals_path) do |section|
    - section.block_header do
      = t("administration.deals.new.view.title")
    - section.block_actions do
      - if params[:deal_id]
        ul.header_actions
          li.last
            = bt_link_to nil, t("call_centre_agent.deals.new.view.change_supplier"), "#", onclick: "setup_step(0)"

  #supplier_email_form
    = label_tag :supplier_email, t("administration.deals.new.view.email")
    = text_field_tag :supplier_email
    = bt_link_to nil, t("administration.deals.new.view.check_supplier_email"), "javascript:void(0)", onclick: "$('div#supplier_confirmation').hide();submit_query('check_email','administration')"
    = t("administration.deals.new.view.or")
    = bt_link_to nil, t("administration.deals.new.view.certify"), "javascript:void(0)", onclick: "submit_query('certify', 'administration')"

  #supplier_confirmation style="margin-top:10px;display:none"
    #supplier_info style=("margin-bottom: 10px")
    = bt_link_to nil, t("administration.deals.new.view.confirm"), "javascript:void(0)", onclick: "setup_step(1);$('div#supplier_confirmation').hide();"

  #deal_form style="display:none;"
    = semantic_form_for [:administration, @deal], method: :post do |form|
      = frm(title: t('administration.deals.new.view.form_title')) do |section|
        - section.block_content do
          = render partial: 'shared/deals/form', locals: {form: form, deal: @deal, categories: DealCategory.without_locked.all}
        - section.block_actions do
          = ibt(class: "fltri", icon: "save") do
            = form.submit t("administration.deals.new.view.create_button"), name: "commit_create", onclick: "select_options_to_submit('deal_deal_template_ids_')"
          = ibt(class: "fltri bt_grey") do
            = button_to_function t("common.cancel_link"), "history.go(-1)"

= content_for :js do
  = javascript_include_tag("deal_creation")

  javascript:
    setup_step(#{@deal.creation_step.to_i})
