<li>
  <div class="lead_content">
    <h4>
      <%= link_to_function deal.header, "void(0);" %>
      <%= link_to_edit_deal(deal) %>
    </h4>

    <%= st(deal.header) %>
    <%= link_to t("supplier_home.show.view.read_more_link"), deal_path(deal), :class => "read_more" %>
  </div>
</li>
