<li>
  <div class="lead_content">
    <h4>
      <%= link_to_function deal.header, 'void(0);' %>
      <%= link_to_edit_deal(deal) %>
    </h4>

    <%= st(deal.short_featured_description) %>
    <%= link_to t('supplier_home.show.view.read_more_link'),
                deal_url(:protocol => 'http://', :host => fairdeals_host, :id => deal.slug),
                :class => 'read_more',
                :target => '_blank' %>
  </div>
</li>
