  <ul>
  <% Comment.each_with_level(thread.self_and_descendants) do |comment,level| %>
    <%= render :partial => 'comments/shared/comment', :locals => {:comment => comment, :thread => thread, :level => level} %>
  <% end %>
  </ul>

<script>
  function reply_to(thread_id,comment_id,commentable_id,comment_title) {
    if ($('#reply_'+comment_id).size() == 0) {
        $.get('/comments/replies/new','thread_id='+thread_id+'&comment_id='+comment_id+'&title='+comment_title+'&commentable_id='+commentable_id);
    } else {
        $('#reply_'+comment_id).toggle();
    }
  }

  function validate_form(form_id){
      if(jQuery.trim($(form_id + " input[id='comment_title']").val()) == "" || jQuery.trim($(form_id + " textarea[id='comment_body']").val()) == "")
      {
          $(form_id + " li[id='comment_title_input'] p").remove();
          if(jQuery.trim($(form_id + " input[id='comment_title']").val()) == "")
          {
              $(form_id + " li[id='comment_title_input']").addClass("error");
              $(form_id + " li[id='comment_title_input']").append("<p class='inline-errors'>can't be blank</p>")
          }
          else
          {
              $(form_id + " li[id='comment_title_input']").removeClass("error");
          }

          $(form_id + " li[id='comment_body_input'] p").remove();
          if(jQuery.trim($(form_id + " textarea[id='comment_body']").val()) == "")
          {
              $(form_id + " li[id='comment_body_input']").addClass("error");
              $(form_id + " li[id='comment_body_input']").append("<p class='inline-errors'>can't be blank</p>")
          }
          else
          {
              $(form_id + " li[id='comment_body_input']").removeClass("error");
          }
      }
      else
      {
          $(form_id).submit();
      }
  }
</script>