<column-mc:>
  <header>
    <param:content>
      <%= t('call_centre.call_centre_agents.index.view.title') %>
    </param:content>

    <param:actions>
      <ul class="header_actions">
        <li>
          <%= bt_link_to :plus, t("call_centre.call_centre_agents.index.view.new_agent"), new_call_centres_call_centre_agent_path %>
        </li>
      </ul>
    </param:actions>
  </header>
</column-mc:>