<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_100">
    <ol>
      <%= form.input :name %>
      <%= form.input :email_from, :as => :select, :collection => EmailTemplateSignature::FROM_EMAILS.map { |e| [e, e] } %>
      <%= form.input :body,
                     :label => false,
                     :as => :ckeditor,
                     :input_html => {
                             :width => '1085px',
                             :height => '300px',
                             :toolbar => "EmailPopup"
                     }

      %>
    </ol>
  </fieldset>
</div>