<div id="modal_for_email_template_vars" style="display:none;">
  <%
     variables = unless defined? email_template
     [

     ]
     else
         email_template.available_variables
     end

     variables.each do |label|
  %>
      <%= link_to_function label, "insert_variable_to_editor('#{label}', '#{instance_name}')" %><br />
  <% end %>
</div>