<div id="modal_for_deal_links" style="display:none;">
  <%= button_to_function t("email_templates.common.insert_deal_link"),
                         "insert_deal_links_into_ckeditor('#{instance_name}', '#{Domain.for_site_and_locale("fairdeals", I18n.locale).name_for_env}')" %>
  <div id="deal_links_container">
    None.
  </div>
</div>