<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs">
    <ol>
      <%= form.input :title %>
      <%= form.input :content,
                        :as => :ckeditor,
                        :input_html => {
                            :width => '1085px',
                            :height => '500px',
                            :swf_params => {
                                :resource_type => @article.class.name,
                                :resource_id => @article.id
                                }
                            } %>
      <%= form.input :published %>
    </ol>
  </fieldset>
</div>
<hl/>
