<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol>
      <%= form.input :type, :collection => Article::Cms::TYPES, :include_blank => false %>
      <%= form.input :title %>
      <%= form.input :content %>
    </ol>
  </fieldset>
</div>
<hl/>
