.splash
{
    width: 83px;
    height: 60px;
    padding-top: 24px;
    position: absolute;
    top: -5px;
    right: 0;
    text-align:center;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    z-index: 10;
}

.splash span
{
    width: 60px;
    display: block;
    margin-left: 11px;
}

.splash.splash_premium
{
    font-size: 14px;
    background: url("/images/fairdeals/icons/splash_orange.png") no-repeat 0 0;
    color: #8f470b;
}

.splash.splash_group
{
    background: url("/images/fairdeals/icons/splash_red.png") no-repeat 0 0;
    color: #782300;
}

.splash.splash_fair
{
    background: url("/images/fairdeals/icons/splash_green.png") no-repeat 0 0;
    color: #316c03;
}


/* --- frm ribbon ---
--------------------------------------------------------------------------------------------------------------------- */

.frm_ribbon_right
{
    background:  url(/images/bg_ribbon_right.png) no-repeat 0 0;
    width: 275px;
    height: 65px;
    padding: 10px 30px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: -1px -1px 0 #62951c;
    position: relative;
    font-size: 18px;
}

.frm_ribbon_right p
{
    padding:  2px 0;
}

.frm_ribbon_right em
{
    font-style: normal;
    padding-left: 4px;
}


.frm_ribbon_right .splash
{
    right: 15px;
    top: -15px;
}

.frm_ribbon_wrapper
{
    height: 85px;
    position: relative;
}

.frm_ribbon_wrapper .frm_ribbon_right
{
    position: absolute;
    right: -45px;
}