<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol>
      <%= form.input :url %>
      <%= form.input :locale_code, :collection => locales_for_video_introduction(@youtube_introduction), :as => :select, :include_blank => false %>
    </ol>
  </fieldset>
</div>
