<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol>
      <%= form.input :name %>
      <%= form.input :symbol %>
      <%= form.input :format %>
      <%= form.input :active %>
    </ol>
  </fieldset>
</div>

