<% deals.each do |deal| %>
  <div class="group">
    <div class="other_deals">
          <%= render :partial => 'secondary_deal', :locals => {:position => 1, :featured => deal, :skip_blank => true,:middle => nil} %>
    </div>
    <clb/>
    <br/>
  </div>
 <% end %>
