<% deals.in_groups_of(3) do |group| %>
  <div class="group">
    <div class="other_deals">
      <% group.each do |deal| %>
          <%= render :partial => 'secondary_deal', :locals => {:position => group.index(deal), :featured => deal, :skip_blank => true,:middle => group.index(deal).eql?(1) ? "col_middle" : nil} %>
      <% end %>
    </div>
    <clb/>
    <br/>
  </div>
 <% end %>
