<column-mc:>

  <h1>WELCOME TO OUR SITE</h1>

  <block w="33%">
    <%= render :partial => 'best_sellers' %>
  </block>

  <block w="33%">
    <%= t("buyer_home.show.view.header_best_sellers") %>

    list
  </block>

  <block w="33%">
    <%= t("buyer_home.show.view.header_latest_leads") %>

    list
  </block>

</column-mc:>

