.ui-widget
{
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important;    
}


/* ---- global ---------------------------------------------------------------------------------------- */


body
{
    background: url(/images/bg_body.png) repeat 0 0 #ededed;
    font: 12px Arial, Helvetica, Verdana, Tahoma, sans-serif;
    color: #3c3c3c;
}

#head
{
    width: 100%;
    min-width: 1040px;
    background: url(/images/bg_head.png) repeat-x 0 0 #200f22;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

#head #head_bg
{
    background: url(/images/bg_headimg.jpg) no-repeat top center;
    width: 100%;
    height: 100px;
}

#global_loader
{
    background: url(/images/global_loader.gif) no-repeat center center #fff;
    position: fixed;
    width: 32px;
    height: 32px;
    top: 15px;
    right: 15px;
    z-index: 99999;

    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    
    -moz-box-shadow: 0 0 10px #999;
    -webkit-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;

    display: none;
}

#container
{
    padding: 0 30px;
    z-index: 0;
}

#top
{
    height: 62px;
}

#top .logo
{
    position: absolute;
    top: 9px;
    left: 45px;
}

#top .logo a
{
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

#top .logo a:hover
{
    text-decoration: underline;
}

.c
{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.c_help
{
    margin: 0 auto;
    width: 300px;
    position: relative;
}


/* --- global ---
--------------------------------------------------------------------------------- */

p
{
    line-height: 18px;
}



/* --- header ---
--------------------------------------------------------------------------------- */




/* --- nav---
--------------------------------------------------------------------------------- */

#user_menu
{
    background: url(/images/fairdeals/bg_nav.png) no-repeat top left;
    height: 56px;    
    position: relative;
    z-index: 1000;
}

#user_menu ul.nav
{
    padding: 0 15px;
}

#user_menu ul.nav li
{
    display: block;
    float: left;
    padding-right: 5px;
}

#user_menu ul.nav li a
{
    background: url(/images/nav/bg_menu.png) no-repeat 0 0;
    display: block;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 0 #4d7019;
}

#user_menu ul.nav li a span
{
    background: url(/images/nav/bg_menu.png) no-repeat right -36px;
    display: block;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
}

#user_menu ul.nav.admin_nav li a span
{
    /*padding: 0 12px;*/
}

#user_menu ul.nav li a:hover
{
    background-position: 0 -72px;    
}

#user_menu ul.nav li a:hover span
{
    background-position: right -108px;    
}

#user_menu ul.nav li.active a
{
    background-position: 0 -144px;
}

#user_menu ul.nav li.active a span
{
    background-position: right -182px;
    height: 38px;
    line-height: 38px;    
}

#user_menu ul.nav li.has_child
{
    position: relative;
}

#user_menu ul.nav li.has_child a span
{
    background-position: right -220px;
    padding-right: 35px;
}

#user_menu ul.nav li.has_child a:hover span    
{
    background-position: right -256px;    
}

#user_menu ul.nav li.has_child:hover ul.subnav
{
    display: block;
}

#user_menu ul.nav li.has_child.active span
{
    background-position: right -370px;
}

#user_menu ul.subnav
{
    position: absolute;
    display: none;
    top: -3px;
    left: 0;
    z-index: 9999;
    /*min-width: 96%;*/
    width: 120px !ie7;

    -moz-box-shadow: 0 0 8px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.5);
    box-shadow: 0 0 8px rgba(0,0,0,.5);

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#user_menu ul.subnav li
{
    display: block;
    float: none;
    padding: 0;
}

#user_menu ul.subnav li.first a,
#user_menu ul.subnav li.first a:hover
{
    background-position: 0 -292px;
    height: 39px;
    line-height: 39px;
    padding: 0;
}

#user_menu ul.subnav li.first a span,
#user_menu ul.subnav li.first a:hover span
{
    background-position: right -331px !important;
    padding: 3px 0 0 15px;
    height: 35px;
    line-height: 35px;
    border: 0;
}

#user_menu ul.subnav li.link a
{
    display: block;
    height: 30px;
    line-height: 30px;
    background: none;
    border-bottom: 1px solid #b6d969;
    padding-bottom: 1px;

}

#user_menu ul.subnav li.link a span
{
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    border-left: 1px solid #6d951e;
    border-right: 1px solid #6d951e;
    border-bottom: 1px solid #6d951e;
    background: #77aa2a;
}

#user_menu ul.subnav li.link a:hover
{
    /*border-color: #3e580d;*/
}

#user_menu ul.subnav li.link a:hover span
{
    border-left: 2px solid #4c6c0e;
    border-right: 2px solid #4c6c0e;
    border-bottom-color: #659321;
    background: #659321;


    /*-moz-box-shadow: 0 0 5px #537d15 inset;*/
    /*-webkit-box-shadow: 0 0 5px #537d15 inset;*/
    /*box-shadow: 0 0 5px #537d15 inset;    */
}

#user_menu ul.subnav li.link.last a
{
    border-bottom: none;
}


#user_menu ul.subnav li.link.last a span
{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #6d951e;
}

#user_menu ul.subnav li.link.active a
{
    /*border-color: #2c4900;    */
}

#user_menu ul.subnav li.link.active a span
{
    background: #598E00;
    border-color: #4c6c0e;
    border-bottom-color: #2c4900;
    
    -moz-box-shadow: 0 -3px 10px #2C4900 inset;
    -webkit-box-shadow: 0 -3px 10px #2C4900 inset;
    box-shadow: 0 -3px 10px #2C4900 inset;
}

/* --- user panel ---
--------------------------------------------------------------------------------- */

#user_panel
{
    display: block;
    float: right;


    font-size: 12px;

    padding: 0 2px;

    background: #353535;

    background: -webkit-gradient(linear, left top, left bottom, from(#3c3c3e), to(#2a2a30));
    background: -moz-linear-gradient(top, #3c3c3e, #2a2a30);
    background: -o-linear-gradient(top, #3c3c3e, #2a2a30);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #3c3c3e, endColorstr = #2a2a30);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c3c3e, endColorstr=#2a2a30)";

    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;

    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    border: 1px solid #131313;

    -moz-box-shadow: 0 1px 0 #4b3155;
    -webkit-box-shadow: 0 1px 0 #4b3155;
    box-shadow: 0 1px 0 #4b3155;
}

#user_panel a.sl
{
    color: #ddd;
    text-decoration: none;
    display: inline-block;
    padding: 0 10px 0 14px;    
    height: 30px;
    line-height: 30px;
    background: url(/images/bg_user_panel_separator.png) repeat-y 0 0;
}

#user_panel a.sl:hover
{
    color: #f1f1f1;
    text-decoration: underline
}


/* --- langs_dropdown ---
--------------------------------------------------------------------------------- */

.langs_dropdown
{
    display: block;
    float: left;
}

.langs_dropdown li.langs
{
    position: relative;
}

.langs_dropdown li a.lang_selected
{
    height: 28px;
    line-height: 28px;
    display: block;
    padding: 0 18px 0 10px;
    background: url(/images/languages/arrow.png) no-repeat 32px center;
}

.langs_dropdown li a.lang_selected img
{
    margin-top: 9px;    
}

.langs_dropdown li #langs_list
{
    display: none;
    position: absolute;
    left: -3px;
    top: 22px;
    z-index: 99999;
}

.langs_dropdown li:hover #langs_list
{
    display: block;
    border: 1px solid #131313;
    border-top: none;
    padding-top: 6px;
    background: #2e2e34;    
}

.langs_dropdown li:hover #langs_list li
{
    text-align: center;
}

.langs_dropdown li:hover #langs_list li a
{
    display: block;
    background: #2e2e34;
    width: 46px;
    font-size: 10px;
    padding: 6px 0;
    text-decoration: none;
    color: #ddd;
}

.langs_dropdown li:hover #langs_list li a:hover
{
    background: #3c3c3e;
    color: #f1f1f1;
}

.langs_dropdown li:hover #langs_list li a img
{
    vertical-align: top;
    padding-left: 2px;
}


/* --- content ---
--------------------------------------------------------------------------------- */

#content
{
    background: url(/images/fairdeals/hl.png) repeat-x 0 0;
    position: relative;
    padding: 15px 0 0;
    margin-top: 15px;

    zoom: 1 !ie7;
}


/* --- search ---
--------------------------------------------------------------------------------- */

.nav_search
{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 243px;
}

.nav_search input[type="text"]
{
    width: 140px;
    float: left;
    padding: 7px 6px;
    border-color: #69ac00;
    border-bottom-color: #609d00;    

    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4);
    box-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.nav_search .bt
{
    float: right;    
}

.nav_search .bt span
{
    width: 85px;
}


/* --- header ---
--------------------------------------------------------------------------------- */

h1
{
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    padding-bottom: 20px;
}

/* --- header  + ribbon ---
--------------------------------------------------------------------------------- */

.header_ribbon
{
    background: url(/images/bg_header_dot.png) repeat-x 0 18px;
    position: relative;
    height: 43px;
    margin: 10px 0;
}

.header_ribbon > h1
{
    background: url(/images/bg_header_ribbon_green.png) no-repeat 0 0 transparent;
    position: absolute;
    left: -33px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;

    text-shadow: -1px -1px 0 #62951c;
}

.header_ribbon > h1 > span
{
    height: 43px;
    line-height: 38px;
    padding: 0 32px;
    display: block;
    background: url(/images/bg_header_ribbon_green.png) no-repeat right -43px;
}

.header_ribbon > h1 > span a
{
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
    font-size: 16px;
}

.header_ribbon.header_grey > h1 > span
{
    background-position: right -86px;
}


.header_actions
{
    float: right;
    position: relative;
    margin-left: 2px;
    top: 5px;
    right: 0;
}

.header_actions li
{
    display: block;
    float: left;
}

.header_actions li a.bt
{
    background-position: 0 -542px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.header_actions li a.bt span
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-position: 0 -568px;
    padding: 0 10px 0 5px;
}

.header_actions li a.bt:hover,
.header_actions li a.bt.bt_active    
{
    background-position: 0 -620px;    
}

.header_actions li a.bt:hover span,
.header_actions li a.bt.bt_active:hover span    
{
    background-position: 0 -646px;    
}

.header_actions li:first-child a.bt
{
    background-position: 0 -516px;
    padding-left: 8px;
}

.header_actions li:first-child a.bt:hover,
.header_actions li:first-child a.bt.bt_active
{
    background-position: 0 -594px;
}

.header_actions li:first-child a.bt span img
{
    padding-right:5px;
    margin-left: -2px
}

.header_actions li.last a.bt,
.header_actions li.last a.bt span
{
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header_actions li.last a.bt span
{
    background-position: right -266px;
}

.header_actions li.last a.bt:hover span,
.header_actions li.last a.bt.bt_active span    
{
    background-position: right -318px;    
}

.header_actions li.bt_back
{
    padding-left: 5px;
}

.header_actions li.bt_back a.bt_grey_small
{
    padding: 0;
    display: none;
}

/* --- footer ---
--------------------------------------------------------------------------------- */

#footer
{    
    height: 18px;
    background: url(/images/fairdeals/bg_dark.png) repeat 0 0 transparent;
    padding: 10px 0;
    margin: 30px 0;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#footer ul
{
    padding-left: 10px;
}

#footer ul li
{
    display: inline;
    padding: 0 8px 0 15px;
    background: url(/images/bg_footer_list.png) no-repeat left center;
}

#footer ul li:first-child
{
    padding-left: 5px;
    background: none;
}

#footer ul li a
{
    color: #5f5f5f;
    font-size: 11px;
    text-shadow: 1px 1px 0 #fff;
    text-decoration: none;
    border-bottom: 1px solid #bcbcbc;
}

#footer p
{
    color: #5f5f5f;
    font-size: 11px;
    line-height: 18px;
    text-shadow: 1px 1px 0 #fff;
    padding-right: 15px;
}

/* --- flash msgs---
--------------------------------------------------------------------------------- */

.flash
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    font-weight: bold;
    margin: 0 0 15px;
    padding: 12px;
}

.flash.flash_notice
{
    background: #6ed8ff;

    background: -webkit-gradient(linear, left top, left bottom, from(#6ed8ff), to(#39c9ff));
    background: -moz-linear-gradient(top, #6ed8ff, #39c9ff);
    background: -o-linear-gradient(top, #6ed8ff, #39c9ff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #6ed8ff, endColorstr = #39c9ff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#6ed8ff, endColorstr=#39c9ff)";

    border: 1px solid #27a9e6;

    -moz-box-shadow: 0 1px 0 #b7ecff inset;
    -webkit-box-shadow: 0 1px 0 #b7ecff inset;
    box-shadow: 0 1px 0 #b7ecff inset;

    color: #fff;
    text-shadow: 1px 1px 0 #0871a2;
}

.flash.flash_alert
{
    background: #fe3434;

    background: -webkit-gradient(linear, left top, left bottom, from(#fe3434), to(#e20101));
    background: -moz-linear-gradient(top, #fe3434, #e20101);
    background: -o-linear-gradient(top, #fe3434, #e20101);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #fe3434, endColorstr = #e20101);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fe3434, endColorstr=#e20101)";

    border: 1px solid #a80000;

    -moz-box-shadow: 0 1px 0 #ff9a9a inset;
    -webkit-box-shadow: 0 1px 0 #ff9a9a inset;
    box-shadow: 0 1px 0 #ff9a9a inset;

    color: #fff;
    text-shadow: 1px 1px 0 #8e0000;    
}



/* --- search_box ---
--------------------------------------------------------------------------------- */

.search_box
{
    background: url(/images/bg_search.png) no-repeat 0 0 #f0f0f0;
    margin-top: -15px;
    padding: 12px 10px;
    border-bottom: 1px solid #cfcfcf;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.search_box h2
{
    font-size: 16px;
    font-weight: normal;
    background: url(/images/bg_search_hl.png) repeat-x bottom left;
    padding: 4px 5px 7px;
}

/*.search_content*/
/*{*/
    /*padding: 10px 0 0;*/
/*}*/

/*.search_content .inputs ol li*/
/*{*/
    /*padding-left: 10px;*/
    /*padding-right: 12px;*/
/*}*/

/*.search_content div.bt.right*/
/*{*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*top: 0px;*/
    /*right: 2px;*/
/*}*/



/* --- forms ---
--------------------------------------------------------------------------------- */

input[type="text"],
input[type="password"],
textarea, select
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    padding: 6px;
    font: 12px Arial, Helvetica, Verdana, Tahoma, sans-serif;
    color: #656565;
    background: #fff;

    -moz-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    margin: 0;
}

select
{
    padding: 5px 6px;
    height: 28px;
}

input:focus, textarea:focus, select:focus
{

}


/* --- categories_tree ---
--------------------------------------------------------------------------------- */

.categories_tree
{
    padding: 0 10px;
}

.categories_tree li.categories_node
{
    display: inline-block;
    vertical-align: top;
    width: 24%;
    padding: 0 10px 30px 0;
    font-size: 14px;
    font-weight: bold;

    display: inline !ie7;
    zoom: 1 !ie7;    
}

.home_categories_tree .categories_tree li.categories_node
{
    padding: 5px 30px 30px 0;
    width: 22%;
}

.home_categories_tree .categories_tree li.categories_node p
{
    padding-right: 5px;
}


.categories_tree li a.text_action
{
    color: #666 !important;
    white-space: nowrap;
    font-weight: normal;
}


.category_children_tree
{
    padding: 5px 0 0 15px;
}

.category_children_tree li.category_child_node
{
    line-height: 20px;
    font-size: 12px;
    font-weight: normal;
}

.category_desc
{
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    padding: 7px 0 5px;
}

.subcategory_btn
{
    font-size: 12px;    
    line-height: normal;
    padding: 5px 0 0;
    font-weight: bold;
}

.subcategory_btn a
{
    color: #0669b6;
    padding-right: 13px;
    background: url(/images/icons/toggle.png) no-repeat;
}

.subcategory_btn a.hide_subcategory
{
    background-position: right 3px;
}

.subcategory_btn a.show_subcategory
{
    background-position: right -39px;
}



/* --- links ---
--------------------------------------------------------------------------------- */

a
{
    color: #008fff;
    text-decoration: underline;
}

a:hover
{
    text-decoration: none;
}

a.text_action
{
    font-size: 85%;
    color: #008fff !important;
}



/* --- a.bt - buttons ---
--------------------------------------------------------------------------------- */

a.bt
{
    display: inline-block;
    vertical-align: middle;
    background: url(/images/fairdeals/bt/bt.png) no-repeat 0 0 transparent;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 0 #995c1b;
    cursor: pointer;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

a.bt span
{
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
    background: url(/images/fairdeals/bt/bt.png) no-repeat right -30px transparent;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

a.bt:hover,
.tda_hover a.bt
{
    background-position: 0 -60px;
}

a.bt:hover span,
.tda_hover a.bt span    
{
    background-position: right -90px;
}

a.bt span img
{
    padding-right: 4px;
    float: left;
    z-index: 5;
    margin-top: 7px;
}

a.bt_icon span img
{
    padding-right: 0;
}

a.bt_icon span
{
    padding: 0 6px 0 5px;
}

a.bt_dropdown span
{
    background-position: right -344px;
    padding-right: 28px;
}

a.bt_dropdown:hover span,
.tda_hover a.bt span
{
    background-position: right -370px;    
}


a.bt_grey
{
    background-position: 0 -120px;
    color: #4f4f4f;
    text-shadow: 1px 1px 0 #f5f5f5;
}

a.bt_grey span
{
    background-position: right -150px;
}

a.bt_grey:hover
{
    background-position: 0 -180px;
}

a.bt_grey:hover span
{
    background-position: right -210px;
}



a.bt_max
{
    width: 100%;
    text-align: center;
}



.frm .frm_head .frm_hc a.bt
{
    margin-top: 6px;
    z-index: 100;
    position: relative;
}

.frm .frm_head .frm_hc a.bt.fltr
{
    margin-right: -4px;
    margin-left: 8px;
}

.frm .frm_head .frm_hc select
{
    position: relative;
    top: 3px;
}


/* --- div.bt - submit ---
--------------------------------------------------------------------------------- */

div.bt
{
    display: block;
    float: left;
    background: url(/images/bt/bt.png) no-repeat 0 0 transparent;
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 30px;
    overflow: hidden;
}

div.bt span
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: url(/images/bt/bt.png) no-repeat right -30px transparent;
    position: relative;
    display: block;
    float: left;
}

div.bt span input
{
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    float: left;
    overflow: visible;
    height: 30px;
    height /*\**/: 33 px\9; /* ie7/8 bug fix */
    line-height: 30px !ie7;

    padding: 0 10px 0px !important;
    margin: 0 !important;
    font-weight: bold;
    font-size: 11px;
    color: #fff;
    outline: 0;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    text-shadow: 1px 1px 0 #995c1b;
    text-transform: uppercase;
}

div.bt span input, x:-moz-any-link, x:default
{
    padding: 0 10px 3px !important;
}

div.bt span a
{
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;

    padding: 0 10px 0;    
    font-weight: bold;
    font-size: 11px;
    color: #fff;
    outline: 0;

    text-shadow: 1px 1px 0 #995c1b;
    text-transform: uppercase;
    text-decoration: none;
}


div.bt:hover
{
    background-position: 0 -60px;
}

div.bt:hover span
{
    background-position: right -90px;
}


div.bt_icon span input,
div.bt_icon span a    
{
    padding: 0 10px 0 28px !important;
    position: relative;
    z-index: 100;
}

div.bt_icon span img
{
    position: absolute;
    top: 7px;
    left: 6px;
    z-index: 50;
}




div.bt_grey,
div.bt_grey:hover
{
    background-position: 0 -120px;
}

div.bt_grey span,
div.bt_grey:hover span
{
    background-position: right -150px;
}

div.bt_grey span input,
div.bt_grey:hover span input
{
    color: #888888;
    text-shadow: none;
}


div.bt_green
{
    background-position: 0 -396px;
}

div.bt_green span
{
    background-position: right -426px;
}

div.bt_green span input
{
    text-shadow: 1px 1px 0 #4d7305;
}


div.bt_green:hover
{
    background-position: 0 -456px;    
}

div.bt_green:hover span
{
    background-position: right -486px;    
}


.ibt_box
{
    padding: 0;
}

.ibt_box .bt
{
    margin-left: 8px;
}


/* --- helpers ---
--------------------------------------------------------------------------------- */

.hl
{
    height: 10px;
    background: url(/images/dot.png) repeat-x center center;
}

.frm .hl
{
    background: url(/images/frm/hl.png) repeat-x center center;
}

.thumb
{
    border: 1px solid #ddd;
    padding: 1px;
    background-color: #fff;
}

span.cke_skin_kama
{
    padding: 0 !important;
    margin-left: 5px;
}



/* --- rpxnow ---
-------------------------------------------------------------------------------- */

.profile_social
{
    padding: 5px 0 10px 50px;
}

.profile_social .ico
{
    vertical-align: top;
}

.rpxnow img
{
    vertical-align: middle;
}

.rpx_note
{
    font-size: 11px;
    color: #777;
    padding-top: 7px;
    margin-top: 6px;
    line-height: 14px;
    border-top: 1px dotted #CCC;

}


/* --- intro - homepage ---
-------------------------------------------------------------------------------- */

.homepage_intro
{
    margin-bottom: 15px;
}

.homepage_actions a.bt
{
    margin-top: 7px;    
}

.homepage_actions a.bt:first-child
{
    margin-top: 0;
}

.news
{
    text-shadow: 1px 1px 0 #fff;
    padding-top: 20px;
}

.news h2
{
    font-size: 18px;
    margin-bottom: 20px;    
}


.news ul li:first-child .news_content
{
    background: none;
}

.news_content
{
    padding: 15px 5px;
    background: url(/images/fairdeals/hl.png) repeat-x 0 0;
}

.news_content h4,
.news_content h4 a
{
    color: #3c3c3c;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 8px;
}

.news_content h4 a
{
    border-bottom: 1px solid #ddd;    
}

.news_content h4 a:hover
{
    border-bottom-color: #aaa;
}

.news_content .news_text
{
    line-height: 18px;
    padding-bottom: 5px;
}


/* --- primary deal --- */

#primary_deals
{
    margin-bottom: 5px;
}

.primary_deals_wrapper
{
    position: relative;
}

.primary_deals_wrapper .arrow_left,
.primary_deals_wrapper .arrow_right
{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    display: block;
    width: 37px;
    height: 59px;
    font-size: 0;
    text-indent: -9999px;
    z-index: 100;

}

.primary_deals_wrapper .arrow_left
{
    background: url(/images/fairdeals/primary_lead/arrow_left.png);
    left: -10px;
}

.primary_deals_wrapper .arrow_right
{
    background: url(/images/fairdeals/primary_lead/arrow_right.png);
    right: -10px;
}


.primary_deal
{
    position: relative;
    margin-top: 5px;
    border: 1px solid #bbb;
}

.primary_deal .frm_head
{
    padding: 15px 15px 12px;
    zoom: 1 !ie7;
    line-height: 50px;
}

.primary_deal .frm_head img
{
    vertical-align: middle;
}

.primary_deal .frm_head a
{
    color: #3C3C3C;
}

.primary_deal .frm_head h2
{
    font-size: 18px;    
}

.primary_deal .frm_content
{
    background: #9ebf3d;
    position: relative;
}

.primary_deal .deal_info
{
    display: none;
    width: 170px;
    float: left;        
    padding-left: 35px;
    padding-bottom: 20px;
    text-align: center;      
}

.primary_deal .deal_info .ajaxful-rating-wrapper
{
    margin-top: 10px;
}

.primary_deal .deal_info .new_price
{
    font-weight: bold;
    font-size: 18px;
    color: #5cbf1a;
    padding: 4px 0 10px;
}

.primary_deal .deal_info .you_save
{
    font-weight: bold;
    font-size: 16px;
    padding: 4px 0 10px;
}

.primary_deal .deal_desc
{
    width: 330px;
    padding: 20px 0 20px 40px;
}

.primary_deal .deal_desc h3
{
    font-size: 26px;
    padding-bottom: 20px;
}

.primary_deal .deal_desc h3 a
{
    color: #fff;
    text-decoration: none;
}

.primary_deal .deal_prices
{
    padding-bottom: 20px;
    min-height: 60px;
}

.primary_deal .deal_img
{
    position: absolute;
    top: -15px;
    right: 35px;
}

.primary_deal .deal_prices .row
{
    background: #000;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
    width: 400px;
}

.primary_deals_wide .primary_deal .deal_desc
{
    width: 690px;
}

/* wtf?! */
.deal_featured_desc div[style]
{
    /*background-color: #F8F8F8 !important;*/
}

.primary_deal .frm_foot
{
    position: relative;
}

.primary_deal .frm_foot .ajaxful-rating-wrapper
{
    /*position: absolute;*/
    /*top: 5px;*/
    /*left: 5px;*/
}

.primary_deal .deal_foot
{
    float: left;
    padding: 10px 15px;
}

.primary_deal .deal_foot .ajaxful-rating-wrapper
{
    margin-bottom: 5px;
}

.primary_deal .deal_sm
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}


.primary_deal .frm_foot p
{
    text-align: right;
    padding: 6px 5px 2px;
}

.primary_deal .frm_foot p a
{
    margin-left: 3px;
}


.primary_deal .countdown
{
    float: right;
    margin-top: 15px;
}






.deal_ft_desc
{
    background: #9ebf3d;
    position: relative;
    color: #fff;
    min-height: 180px;
}

.deal_ft_desc .deal_ft_img
{
    position: absolute;
    top: -15px;
    right: 35px;
    border: 1px solid #aaa;
}

.deal_ft_desc h4
{
    width: 290px;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0 5px 35px;
}

.deal_ft_desc .row
{
    background: #000;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
    width: 360px;
}

.deal_ft_desc .deal_ft_discount
{
    padding: 30px 0;
}

.deal_ft_desc .deal_ft_discount .row
{
    font-size: 28px;
}

.deal_ft_desc .deal_ft_prices
{
    padding: 15px 0;
    width: 330px;
    position: relative;
}

.deal_ft_desc .deal_ft_prices .row
{
    font-size: 18px;
    margin-bottom: 2px;
    width: 200px;
    padding-left: 20px;
}

.deal_ft_desc .deal_ft_prices .cell
{
    background: #fff;
    color: #000;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    width: 106px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 15px;
    padding: 10px 0 0;
    text-align: center;

}

/* --- comments ----------------------------------------------------------------------------------------------------- */

a.toggle_comments
{
    display: block;
    position: absolute;
    bottom: 0;
    left: 55px;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    border-top-color: #ccc;
    white-space: nowrap;

    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;

    -moz-box-shadow: 0 -1px 3px #ddd;
    -webkit-box-shadow: 0 -1px 3px #ddd;
    box-shadow: 0 -1px 3px #ddd;

    text-decoration: none;
    color: #666;
}

.frm_comments
{
    border-bottom: 1px solid #eee;
}

.comments_details
{
    padding: 10px;
}

.comment_container
{
    padding: 5px 0 5px 10px;
    border-left: 2px solid #eee;
    margin-top: 5px;
    margin-bottom: 6px;
}

.comment_container .comment_title
{
    font-weight: bold;
    line-height: 16px;
    font-size: 13px;
}

.comment_container .comment_info
{
    font-size: 11px;
    color: #7a7a7a;
    line-height: 16px;
    padding-bottom: 5px;
}


/* --- other deals -------------------------------------------------------------------------------------------------- */

.other_deals .col
{
    width: 215px;
    float: left;
}

.other_deals .col.col_middle
{
    margin: 0 17px;
}

.other_deals .frm
{
    margin-bottom: 17px;    
}

.other_deals .frm_head
{
    overflow: hidden;
}

.other_deals .frm_head .ajaxful-rating-wrapper
{
    position: absolute;
    top: 5px;
    right: 10px;
}

.other_deals .frm_head h2
{
    font-weight: bold !important;
    font-size: 15px;
}

.other_deals .frm_head h2 span.highlighted
{
    color: #fff104;
    text-transform: uppercase;
}

.other_deals .frm_content
{
    min-height: 240px;
}

.other_deals .deal_desc
{
    font-weight: bold;
    line-height: 14px;
    padding-bottom: 10px;
}

.other_deals .deal_thumb
{
    float: right;
    /*width: 220px;*/
    height: 20px;
    text-align: center;
    padding-bottom: 15px;
}

.other_deals .deal_thumb img
{
    margin-bottom: 15px;
}

.other_deals .deal_info
{
    float: left;
    width: 336px;
    font-size: 13px;
}

.other_deals .deal_info .ajaxful-rating-wrapper
{
    margin-top: 10px;
}

.other_deals .deal_price
{
    float: left;
    width: 230px;
}

.other_deals .deal_price a.bt
{
    margin-top: 5px;
}

.other_deals .deal_description .default_action
{
    margin-top: 10px;
}

.other_deals .deal_description .logo
{
    margin: 10px 0px 15px;
}


.contact_us_frm p
{
    padding: 3px 0;
}
.contact_us_frm p img
{
    padding-right: 7px;
    vertical-align: middle;
}


/* --- other styles ----
------------------------------------------------------------------------------------ */

.b
{
    font-weight: bold;
}

.green
{
    color: #5cbf1a;
}

.red
{
    color: #ff0808;
}