.c
{
    width: 980px;
}

#user_menu
{
    background-image: url(/images/fairdeals/bg_nav_subpage.png);
}

#content
{
    background-image: url(/images/fairdeals/bg_content_head.png);
}

#footer
{
    width: 100%;
    height: 30px;
    background-image: url(/images/fairdeals/bg_footer.png);
}  