tr
  td.cl
  td.no_pdd_lr= check_box_tag('invoice_ids[]', invoice.id)
  td= format_date invoice.sale_date
  td= link_to invoice.full_number, [:administration, :invoicing, invoice]
  td= invoice.seller_name
  td= invoice.user
  td.ta_c= payment_status(invoice.paid?, invoice.status.to_s.capitalize, invoice.status.to_s.capitalize)
  td.ta_r= as_currency(invoice.total(true), invoice.currency)

  td.tda.ta_r
    .td_actions
      = bt_link_to :cog, nil, 'javascript:void(0)', class: 'bt_dropdown'
      ul

        li= link_to t('administration.invoices.index.view.show_invoice'), administration_invoicing_invoice_path(invoice)
        li= link_to t('administration.invoices.index.view.edit_invoice'), edit_administration_invoicing_invoice_path(invoice), class: 'default_action'
        li= link_to t('administration.invoices.index.view.remove_invoice'), administration_invoicing_invoice_path(invoice), method: :delete, confirm: t('administration.invoices.destroy.view.confirmation')
        li= link_to invoice.sent? ? t('administration.invoices.index.view.resend_invoice') : t('administration.invoices.index.view.send_invoice'), new_administration_invoicing_invoice_mailing_path(invoice), confirm: send_invoice_warning(invoice)

        - unless invoice.paid?
            - if invoice.credit_note.nil?
              li= link_to t('administration.invoices.index.view.credit_invoice'), administration_invoicing_credit_notes_path(credit_note:  {invoice_id: invoice.id}), {method: :post}
            li= link_to t('administration.invoices.index.view.set_as_paid'), administration_invoicing_invoice_path(invoice.id, {invoice_id: invoice.id, invoice: {paid_at: Time.now, cash_flow: invoice.total}}), {method: :put}
        li= link_to t('administration.invoices.index.view.add_transaction'), new_administration_invoicing_payment_transaction_path(invoice_id: invoice.id)

  td.cr
