<td colspan="6"></td>
<td id="total_label" class="ta_r">Total:</td>
<td id="total_netto_value">0.00</td>
<td id="total_vat_value">0.00</td>
<td id="total_brutto_value">0.00</td>
<td><%= bt_link_to :plus, "add line", "#", :class => "bt_max" %></td>
