<td colspan="3"></td>
<td id="total_label" class="ta_r">Total:</td>
<td id="total_netto_value">0.00</td>
<td id="total_vat_value">0.00</td>
<td id="total_brutto_value">0.00</td>
<td>
  <%= link_to_add_fields t("administration.invoices.edit.view.add_line"), form, :invoice_lines %>  
</td>
