<fieldset class="inputs invoice_totals">
  <ol>
    <li id="total_label" class="total_label"><label>Total</label></li>
    <li id="total_netto_value" class="total_netto_value"><span></span></li>
    <li id="total_vat_value" class="total_vat_value"><span></span></li>
    <li id="total_brutto_value" class="total_brutto_value"><span></span></li>
  </ol>
</fieldset>