<div class="search_box">
  <h2>Search</h2>

  <div class="search_content">
    <%= semantic_form_for search, :url => path do |f| %>
        <fieldset class="inputs_vertical">
          <ol class="no_pdd">
            <li class="string">
              <%= f.input :with_keyword, :label => t("campaigns.filter.keyword_label") %>
              <%= f.input :with_state, :as => :select, :collection => [[t("campaigns.filter.state_select_all"), "all"],
                                                                       [t("campaigns.filter.state_select_active"), "active"],
                                                                       [t("campaigns.filter.state_select_inactive"), "inactive"]],
                          :label => t("campaigns.filter.state_label"), :include_blank => false %>
            </li>
            <li class="commit">
              <ibt c="bt_green" icon="magnify">
                <%= submit_tag t("campaigns.filter.search_button") %>
              </ibt>
            </li>
          </ol>
        </fieldset>
    <% end %>
  </div>
</div>