<header>
  <param:content>
    <%= t("campaigns.header.title") %>
  </param:content>

  <param:actions>
    <%= form_tag path, :method => :get, :id => "form_new_campaign" do %>
        <ul class="header_actions">
          <li class="last">
            <div class="hidden">
              <%= submit_tag "New" %>
            </div>
            <%= bt_link_to :plus, t("campaigns.header.new_campaign_button"), "javascript:void", :onclick => "$('#form_new_campaign').submit()" %>
          </li>
        </ul>
    <% end %>
  </param:actions>
</header>