.countdown
{
	height: 50px;
	/*width: 284px;*/
	margin: auto;
    position: relative;
}

.countdown_title
{
    position: absolute;
    left: -60px;
    top: 10px;   
    font-size: 12px;
    font-weight: bold;
}

.countdown .dash_title
{
    display: block;
    position: absolute;
    top: 36px;
    left: 0;
    width: 38px;
    text-align: center;
    font-size: 10px;
    color: #777;
}

.countdown .dash
{
    background: asset-url('fairdeals/primary_lead/flip.png', image) no-repeat top center;
    width: 33px;
    height: 33px;
    padding: 4px 0 0 9px;
    margin-left: -2px ;
    text-align: center;
    position: relative;

    vertical-align: top;
    display: inline-block;
    display: inline !ie7;
    zoom: 1 !ie7;    
}

.dash .digit
{
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    float: left;          
	position: relative;
}