<column-mc:>

  <p><%= t("purchase_manager.leads.show.view.confirmation_message") %></p>

  <%= button_to t("purchase_manager.leads.show.view.ok_confirmation"), purchase_manager_home_path %>

</column-mc:>