<column-mc:>

  <div class="frm_tiny pdd_15 ta_c">    
    <h2><%= t("purchase_manager.leads.show.view.confirmation_message") %></h2>
    <div class="pdd_10 grid_50 grid_c">
        <ibt>
          <%= button_to t("purchase_manager.leads.show.view.ok_confirmation"), deal_path(@lead.deal.slug), :method => :get %>
        </ibt>
    </div>
    <clb/>

  </div>

</column-mc:>