<column-mc:>
  <header><%= t("categories.index.view.header") %></header>

  <%#= all_categories_tree(:category_label => lambda { |c| link_to_function c.name, "setCategory(#{c.id})" }) %>
  <%= all_categories_tree(:category_label => lambda { |c| link_to "#{c.name}", "/categories/#{c.cached_slug}?search[with_category]=#{c.id}" },
                          :after_category => lambda { |c| "<span class='total_leads'>(#{c.total_leads_count})</span>" }) %>
  <clb/>
</column-mc:>