<column-mc:>

  <style>
      .sortable_contact_fields_class, .sortable_spreadsheet_fields_class {
          text-align: center;
          list-style-type: none;
          margin: 0;
          padding: 0;
          float: left;
          margin-right: 10px;
          background-color: #9DCC45;
          width: 250px;
          display: block;
      }

      .sortable_contact_fields_class li, .sortable_spreadsheet_fields_class li {
          margin: 0 5px 5px 5px;
          padding: 5px;
          font-size: 1.2em;
          width: 228px;
      }

      .sortable_contact_fields_class p, .sortable_spreadsheet_fields_class p {
          padding: 5px;
      }

      .sortable_div_header {
          text-align:center;
          font-weight:bolder;
          font-size:larger;
          padding:5px;
      }
  </style>

  <script type="text/javascript">
      $(function() {
          $("#sortable_contact_fields, #sortable_contact_fields_removed").sortable({
              items: "li:not(.disabled)",
              connectWith: ".sortable_contact_fields_class"
          }).disableSelection();
      });
      $(function() {
          $("#sortable_spreadsheet_fields, #sortable_spreadsheet_fields_removed").sortable({
              items: "li:not(.disabled)",
              connectWith: ".sortable_spreadsheet_fields_class"
          }).disableSelection();
      });
  </script>

  <header>Advanced Import</header>

  <div style="float:left">
    <p class="sortable_div_header">Contact fields</p>
    <clb/>
    <ul id="sortable_contact_fields" class="sortable_contact_fields_class">
      <p class="disabl">removed fields</p>
    </ul>

    <ul id="sortable_contact_fields_removed" class="sortable_contact_fields_class">
      <p class="disabled">use this fields</p>
      <li class="ui-state-highlight">Item 1</li>
      <li class="ui-state-highlight">Item 2</li>
      <li class="ui-state-highlight">Item 3</li>
      <li class="ui-state-highlight">Item 4</li>
      <li class="ui-state-highlight">Item 5</li>
    </ul>
  </div>

  <div style="float:left">
    <p class="sortable_div_header">Spreadsheet fields</p>
    <clb/>
    <ul id="sortable_spreadsheet_fields" class="sortable_spreadsheet_fields_class">
      <p class="disabled">use this fields</p>
      <li class="ui-state-default">Item 1</li>
      <li class="ui-state-default">Item 2</li>
      <li class="ui-state-default">Item 3</li>
      <li class="ui-state-default">Item 4</li>
      <li class="ui-state-default">Item 5</li>
    </ul>

    <ul id="sortable_spreadsheet_fields_removed" class="sortable_spreadsheet_fields_class">
      <p class="disabled">removed fields</p>
    </ul>
  </div>

  <clb/>


</column-mc:>