/* --- table ---
--------------------------------------------------------------------------------- */

.generic
{
    width: 100%;
    margin-top: 20px;
}


.generic thead th
{
	height: 45px;
    background: url(../images/frm/head_cap_content_grey.png) repeat-x;
    vertical-align: middle;
    text-align: left;
    color:#555555;
    font-size: 12px;
    padding: 0 9px;
}

.generic thead th.hl
{
	background: url(../images/frm/head_cap_left_grey.png) no-repeat;
    width: 9px;
    padding: 0;
}

.generic thead th.hr
{
	background: url(../images/frm/head_cap_right_grey.png) no-repeat;
    width: 9px;
    padding: 0;
}

.generic thead th a
{
    color: #555;
    text-decoration: none;
    border-bottom: 1px dotted #777;
}

.generic thead th a.bt
{
    border-bottom: none;
}


.generic tfoot td
{
    height: 7px;
    background: url("../images/frm/dot.png") repeat-x bottom center #F8F8F8;
    padding: 0;
}

.generic tfoot td.fl
{
	background: url(../images/frm/footer_cap_left_grey.png) no-repeat bottom left;
    width: 9px;
    padding: 0;
}

.generic tfoot td.fr
{
	background: url(../images/frm/footer_cap_right_grey.png) no-repeat bottom right;
    width: 9px;
    padding: 0;
}

.generic tbody tr td
{
    background: #F8F8F8;
    border-bottom: 1px solid #D3D3D3;
    height: 37px;
    vertical-align:middle;
    padding: 0px 7px;
}

.generic tbody tr:first-child td
{
    border-top: none
}



.generic tbody tr td.cl
{
    background: url("../images/frm/dot.png") repeat-y top left #F8F8F8;
    width: 11px;
    padding: 0px;
}

.generic tbody tr td.cr
{
    background: url("../images/frm/dot.png") repeat-y top right #F8F8F8;
    width: 11px;
    padding: 0px;
}