/* --- helpers ---
--------------------------------------------------------------------------------- */

.clb
{
    clear: both;
    height: 0;
    overflow: hidden;
}

.rltv
{
    position: relative;
}

.pointer
{
    cursor: pointer;
}


/* --- text / font -------------------------------------------------------------- */

.i
{
    font-style: italic;
}

.lh_22,
.lh_22 p    
{
    line-height: 22px;
}



/* --- floats ------------------------------------------------------------------- */

.fltr
{
	float: right;
}

.fltl
{
	float: left;
}

.fltri
{
	float: right !important;
}

.fltli
{
	float: left !important;
}

.no_flt
{
    float: none;
}


/* --- text ---------------------------------------------------------------------- */

.ta_l
{
    text-align: left !important;
}

.ta_c
{
    text-align: center !important;
}

.ta_r
{
    text-align: right !important;
}


/* --- padding --- */

.pdd_5
{
    padding: 5px;
}

.pdd_10
{
    padding: 10px;
}

.pdd_15
{
    padding: 15px;
}

.pdd_20
{
    padding: 20px;
}

.no_pdd
{
    padding: 0 !important;
}

.no_pdd_l
{
    padding-left: 0 !important;
}

.no_pdd_t
{
    padding-top: 0 !important;
}

.no_pdd_r
{
    padding-right: 0 !important;
}

.no_pdd_b
{
    padding-bottom: 0 !important;
}

.no_pdd_lr
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no_pdd_tb
{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


/* --- margin ---------------------------------------------------------------------- */

.marg_5
{
    margin: 5px;
}

.marg_10
{
    margin: 10px;
}

.no_marg
{
    margin: 0 !important;
}

.no_marg_l
{
    margin-left: 0 !important;
}

.no_marg_t
{
    margin-top: 0 !important;
}

.no_marg_r
{
    margin-right: 0 !important;
}

.no_marg_b
{
    margin-bottom: 0 !important;
}

/* --- diverse ---------------------------------------------------------------------- */

.hidden
{
    display: none;
}

.fs_11
{
    font-size: 11px;    
}

.va_b
{
    vertical-align: bottom !important;
}

.va_m
{
    vertical-align: middle !important;
}