<div class="call_result_note">
  <% if call_result.note.present? %>
      <div class="note">
        <%= call_result.note %>
        <br/>
        <br/>
      </div>
  <% end %>

  <div class="result_fields">
    <table>
      <tbody>
      <% call_result.result.result_fields.each do |result_field| %>
          <tr>
            <td><%= result_field.name %>:</td>
            <td><%= call_result.result_values.for_result_field(result_field).first.value %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
