<%= semantic_form_for tagger,
                      :url => newsletters_tag_subscriber_sources_path(:newsletter_list_id => newsletter_list.id),
                      :remote => true,
                      :html => {:class => "inputs"} do |form| %>
    <ol>
        <%= form.input :tags %>
        <%= form.input :type, :as => :radio, :collection => NewsletterListSubscriberTagger::TYPES, :label => false  %>
        <div class="bt bt_icon fltri">
            <span>
                <%= form.submit 'Perform' %>
                <img alt="Save" src="/images/bt_icons/save.png?1391001434">
            </span>
        </div>
    </ol>
<% end %>
<div id="tagger_flash_message"></div>
