<column-mc:>
  <header>
      <param:content>
        <%= t("newsletters.newsletter_lists.index.view.header") %>
      </param:content>

      <param:actions>
        <ul class="header_actions">
          <li class="last"><%= bt_link_to :plus, t("newsletter.newsletter_lists.index.view.new_newsletter_list"), new_newsletters_newsletter_list_path %></li>
        </ul>

      </param:actions>
   </header>
</column-mc:>