.clearfix
  - translation_prefix = "#{users_type == "customers" ? "suppliers" : "agents"}"

  .select.unique id="users_selection_#{users_type}_div" style=('display:none' unless @category.send("is_#{users_type.singularize}_unique".to_sym))
    label &nbsp;
    .fltl.grid_720 style="padding-bottom:10px;"
      div
        h2= t("administration.categories.form.#{translation_prefix}_header")

      div
        = text_field_tag "filter_#{users_type}", "", id: "filer_#{users_type}"
        = bt_link_to nil, t("administration.categories.form.search"), "javascript:void(0)", onclick: "filter_users('#{users_type}')", class: "users_search"

      .grid_240.fltl
        h3= t("administration.categories.form.#{translation_prefix}_without_access")
        = select_tag "all_#{users_type}", options_for_select((users_type == "customers" ? (User.with_suppliers - @category.customers) : User.with_agents - @category.agents).map { |u| [unique_category_select_name(u).to_s, u.id] }.sort), {multiple: true, size: 10, style: "height:200px; width:250px;"}

      .grid_160.fltl style=("margin-right: 10px; margin-top:30px;")
        p.ta_c.pdd_5.no_pdd_lr= bt_link_to nil, t("administration.categories.form.move_users_right"), "javascript:move_users_to_all('#{users_type}');auto_buy()", id: "move_right"
        p.ta_c= bt_link_to nil, t("administration.categories.form.move_users_left"), "javascript:move_users_to_selected('#{users_type}');auto_buy()", id: "move_left"

      .grid_240.fltl
        h3= t("administration.categories.form.#{translation_prefix}_with_access")
        ol.no_pdd
          = form.input users_type == "customers" ? :customer_ids : :agent_ids, as: :select, required: false, label: false, include_blank: false, collection: (users_type == "customers" ? @category.customers : @category.agents).map { |u| [unique_category_select_name(u), u.id] }, input_html: {id: "selected_#{users_type}", multiple: true, size: 10, style: "height:200px; width:250px;"}

      .clb
