<% unless @lead.lead_templates.empty? %>
    <%= render :partial => "/shared/leads/lead_template_fields", :locals => {:lead => @lead, :form => form } %>
    <div class="hl"></div>
<% end %>
<div class="nested_locale_container"></div>