<%= contacts_table completed_contacts, :agent_work_screen => true do |blocks| %>
    <% blocks.tools do |contact| %>
        <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
          <li>
            <%= link_to t("campaigns.edit.show_button"), url_for(:controller => "#{namespace}/agent_work_screen/contacts", :action => :show, :campaign_id => campaign, :id => contact, :fast => "true"), :class => "default_action", :remote => true, :method => :get %>
          </li>
          <li>
            <%= link_to t("campaigns.edit.remove_button"), url_for(:controller => "#{namespace}/agent_work_screen/contacts", :action => :destroy, :campaign_id => campaign, :id => contact), :confirm => t("campaigns.edit.remove_confirm"), :remote => true, :method => :delete %>
          </li>
        </ul></div>
    <% end %>
<% end %>


