<% if contact %>
    <%= call_results_table contact.crm_call_results, :agent_work_screen => true, :crm => contact.campaign.crm_option > 0 do |blocks| %>
        <% blocks.tools do |call_result| %>
            <div class="td_actions"><%= bt_link_to :cog, nil, "javascript:void(0)", :class => "bt_dropdown" %><ul>
              <li>
                <%= link_to t("call_results.table.edit_link"), edit_callers_campaign_agent_work_screen_contact_call_result_path(campaign, contact, call_result), :class => "default_action", :remote => true %>
              </li>
              <% unless contact.completed? %>
                  <li>
                    <%= link_to t("call_results.table.remove_link"), callers_campaign_agent_work_screen_contact_call_result_path(campaign, contact, call_result), :confirm => t("call_results.table.remove_confirm"), :method => :delete, :remote => true %>
                  </li>
              <% end %>
            </ul></div>
        <% end %>
    <% end %>
<% end %>