<ul class="fltl">
  <li><a href="#">Privacy</a></li>
  <li><a href="#">About us</a></li>
  <li><a href="#">Terms & Conditions</a></li>
  <li><%= link_to "Contact us", contact_us_path %></li>
</ul>

<p class="fltr">&copy; 2010 NewBizzShoppen</p>