<ul class="langs_dropdown">
  <li class="langs">
    <%#= t "locales.#{locale.to_s.downcase}_locale" %>
    <%= link_to image_tag('/images/languages/flag_'+locale.to_s.downcase+'.png'), "javascript:void(0)", :class => "lang_selected" %>
    <ul id="langs_list">
      <% @locales.each do |locale| %>
          <li>
            <%= link_to locale_path(:id => locale.to_s), :id => locale.to_s.downcase do %>
                <%= t("locales.#{locale.to_s.downcase}_locale") %>
                <%= image_tag('/images/languages/flag_'+locale.to_s.downcase+'.png') %>
            <% end %>
          </li>
      <% end %>
    </ul>
  </li>
</ul>