<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Fairleads</title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <%= stylesheet_link_tag 'common', media: 'all' %>
  <%= javascript_include_tag 'common' %>

  <%= csrf_meta_tag %>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="apple-touch-icon" href="/iOS/touch-icon-iphone.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/iOS/touch-icon-ipad.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/iOS/touch-icon-iphone4.png"/>

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-startup-image" href="/iOS/splash.png">
</head>
<body>

<%= yield :column_mc %>

</body>
</html>
