<div class="pdd_10 no_pdd_t">
  <fieldset class="inputs labels_ta_r labels_240">
    <ol class="align_inputs">
      <%= form.input :name %>
      <%= form.input :sip_username %>
      <%= form.input :sip_password, :as => :string %>
      <%= form.input :softphone_server %>
    </ol>
  </fieldset>
</div>
